<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/newStyles.css"/>
</head>
<body>
<div class="container">
    <h1 th:text="#{hello}"></h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <td>Imie</td>
                <td>Nazwisko</td>
                <td>Szczegóły</td>
                <td>Usuń</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td><a th:href="${'/sperson/id/' + person.personId}">
                    <button>Pokaż szczegóły</button>
                </a></td>
                <td><a th:href="${'/delPerson?id='+person.personId}">
                    <button>X</button>
                </a></td>
            </tr>
            </tbody>
        </table>
        <div>
            <form class="form-group" th:name="${persons}" th:action="@{/selectedPersons}" th:method="get">
                <label>Data od: </label>
                <input type="date" th:name="min"/>
                <label>Data do:</label>
                <input type="date" th:name="max">
                <button type="submit" class="btn">
                    <button>Wyszukaj</button>
                </button>

            </form>
        </div>
        <div class="row">
            <a href="/addPerson">
                <button>Dodaj osobę</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>